IT-Tracker UAT/ITTracker/Connected Services/ITService/ITService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ITService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.0.0.111/ITService/ITService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.0.0.111/ITService/ITService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.0.0.111/ITService/ITService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IITService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IITService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IITService_TrackerSelect_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackerSelect" />
  </wsdl:message>
  <wsdl:message name="IITService_TrackerSelect_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackerSelectResponse" />
  </wsdl:message>
  <wsdl:message name="IITService_TrackerConfirm_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackerConfirm" />
  </wsdl:message>
  <wsdl:message name="IITService_TrackerConfirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackerConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="IITService_TrackerDocumentUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:TrackerDocumentUpload" />
  </wsdl:message>
  <wsdl:message name="IITService_TrackerDocumentUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrackerDocumentUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IITService_IPDocumentUpload_InputMessage">
    <wsdl:part name="parameters" element="tns:IPDocumentUpload" />
  </wsdl:message>
  <wsdl:message name="IITService_IPDocumentUpload_OutputMessage">
    <wsdl:part name="parameters" element="tns:IPDocumentUploadResponse" />
  </wsdl:message>
  <wsdl:message name="IITService_SelectClob_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectClob" />
  </wsdl:message>
  <wsdl:message name="IITService_SelectClob_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectClobResponse" />
  </wsdl:message>
  <wsdl:portType name="IITService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IITService/DoWork" message="tns:IITService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITService/DoWorkResponse" message="tns:IITService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackerSelect">
      <wsdl:input wsaw:Action="http://tempuri.org/IITService/TrackerSelect" message="tns:IITService_TrackerSelect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITService/TrackerSelectResponse" message="tns:IITService_TrackerSelect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackerConfirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IITService/TrackerConfirm" message="tns:IITService_TrackerConfirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITService/TrackerConfirmResponse" message="tns:IITService_TrackerConfirm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrackerDocumentUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IITService/TrackerDocumentUpload" message="tns:IITService_TrackerDocumentUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITService/TrackerDocumentUploadResponse" message="tns:IITService_TrackerDocumentUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IPDocumentUpload">
      <wsdl:input wsaw:Action="http://tempuri.org/IITService/IPDocumentUpload" message="tns:IITService_IPDocumentUpload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITService/IPDocumentUploadResponse" message="tns:IITService_IPDocumentUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectClob">
      <wsdl:input wsaw:Action="http://tempuri.org/IITService/SelectClob" message="tns:IITService_SelectClob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IITService/SelectClobResponse" message="tns:IITService_SelectClob_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IITService" type="tns:IITService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IITService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackerSelect">
      <soap:operation soapAction="http://tempuri.org/IITService/TrackerSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackerConfirm">
      <soap:operation soapAction="http://tempuri.org/IITService/TrackerConfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackerDocumentUpload">
      <soap:operation soapAction="http://tempuri.org/IITService/TrackerDocumentUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IPDocumentUpload">
      <soap:operation soapAction="http://tempuri.org/IITService/IPDocumentUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClob">
      <soap:operation soapAction="http://tempuri.org/IITService/SelectClob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ITService">
    <wsdl:port name="BasicHttpBinding_IITService" binding="tns:BasicHttpBinding_IITService">
      <soap:address location="http://10.0.0.111/ITService/ITService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>